:root{
    --branco-principal: #FFFFFF;
    --cor-preta:#000000;
    --cinza-secundario:#595959;
    --botao-azul:rgb(155, 0, 0);
    --cor-de-fundo:#dc0000;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-preta);
}

*{
    margin: 0;
    padding: 0;                                                                                                                                                                                                            
}

.conteudo-principal{
    background-image: url("./img/abstract-red-black-futuristic-gaming-background-livestream-panel_562076-45.avif");
    background-repeat: no-repeat;
    background-size: contain;
}

.container__botao{
    height: 100vh;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.botao_secundario{
    background-color: transparent;
    border: 2px  solid var(--cinza-secundario);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container.imagem{
    margin: 0 6em;
}
.principal {
    background-image:url(abstract-red-black-futuristic-gaming-background-livestream-panel_562076-45.avif) ;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

