:root{
    --cor-preta:#000000;
    --cinza-secundario:#595959;
    --botao-azul:rgb(155, 0, 0);
    --cor-de-fundo:#dc0000;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-preta);
}

*{
    margin: 0;
    padding: 0;                                                                                                                                                                                                            
}

.conteudo-principal{
    background-image: url("./img/abstract-red-black-futuristic-gaming-background-livestream-panel_562076-45.avif");
}
